<div class="dashboard-header">
  <h1>Gestion des Commandes</h1>
</div>

<div class="table-container">
  @if (orders$ | async; as orders) {
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Franchisé</th>
        <th>Montant Total</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (order of orders; track order.id) {
          <tr>
            <td>{{ order.date?.toDate() | date:'dd/MM/yyyy HH:mm' }}</td>
            <td>{{ order.franchiseName }}</td>
            <td>{{ order.totalPrice | currency:'EUR' }}</td>
            <td>
              <span class="status-badge status-{{order.status}}">{{ order.status }}</span>
            </td>
            <td>
              <button class="action-button view" (click)="exportOrderToPDF(order)">Exporter PDF</button>
            </td>
          </tr>
        } @empty {
          <tr><td colspan="5" class="empty-state">Aucune commande trouvée.</td></tr>
        }
      </tbody>
    </table>
  } @else {
    <p>Chargement des commandes...</p>
  }
</div>
